rules_version = '2';

service cloud.firestore {
	match /databases/{database}/documents {
		
    match /rooms/{roomID}{
			allow read, write: if request.auth.uid in resource.data.members
  	 	
      match /messages/{message}{
  			allow read,write:if request.auth.uid in get(/databases/$(database)/documents/rooms/$(roomID)).data.members
 				allow update:if request.auth.uid == resource.data.author
   		}
   }
    match /users/{uid}{
      allow read, write: if request.auth.uid==uid;
      
    	match /conversations/{other}{
          allow read, write: if request.auth.uid==uid;
    	}
    }
  }
}